.individualArtistDetails {
    display: flex;
    color: white;
}

.individualArtistTrackHeaders {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
}
.normalPlayButton{
    color: #1DB954;    
}
