.footer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    background-color: #191414;
    color: white;
    position: absolute;
    margin-top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

img {
    width: 64px;
    height: 64px
}

.footer-left{
    display: flex;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    accent-color: white;
    cursor: none
}

.progress-bar {
    width: 400px; 
}

.progress-bar:hover {
    accent-color: #1DB954
}