.footer {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

img {
    width: 64px;
    height: 64px
}

.footer-left{
    display: flex;
}