.searchContainer {
    height: 90vh;
    overflow-y: scroll;
}

button {
    font-size: small;
    color: white;
    background-color: rgb(50, 50, 50);;
    border: none;
    margin: 5px;
    border-radius: 9%;
}

/* button:active {
    color: #191414;
    background-color: white;
} */