.app {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr min-content;
    background-color: #191414;
    color: white;
    width: 100vw;
    height: 90vh;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}