.app {
    display: flex;
    background-color: #191414;
    color: white;
    width: 100vw;
    height: 90vh;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}



.hideLeft {
    display: none;
}


.text-link {
    color: inherit;
    text-decoration: inherit;
}